<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src='/js/jquery.js'></script>
    <script src='/js/jquery.mobile.js'></script>
    <script src='/js/base.js'></script>
    <link rel='stylesheet' type='text/css' href='/css/base.css' />
  </head>
  <body>
    <div data=role="page">
      <div data-role="header">
	<h1>VLC Remote</h1>
      </div><!-- /header -->
      <div date-role="content">
	<p>VLC Stuff<p>
      </div> <!-- /content -->
    </div> <!-- /page -->
  </body>
</html>
