<html>
  <head>
    <meta name="viewport" content="width=340px, initial-scale=1">
    <script src='/js/jquery.js'></script>
    <script src='/js/jquery.mobile.js'></script>
    <script src='/js/base.js'></script>
    <link rel='stylesheet' type='text/css' href='/css/base.css' />
    <link rel='stylesheet' type='text/css' href='/css/jquery.mobile.css' />
  </head>
  <body>
    <div id='main' data-role="page">
      <div id='header' data-role="header">
	<h1>VLC Remote</h1>
      </div><!-- /header -->
      <div class='main-content' date-role="content">
	<div id='status' data-role='collapsible' data-collapsed='false'>
	  <h3>Status</h3>
	  <div id='status-state'>[paused]</div>
	  <span>Current Media:</span><br />
	  <div id='status-file'>File Playing</div>
	  <div id='status-position-wrap'>
	    <input type='range' id='status-position' onchange='timeSliderChanged(this);' value='0' min='0' max='0' data-highlight='true' />
	    <span class='status-time'>0:00/0:00</span>
	  </div>
	</div> <!-- /status -->
	<div id='controls' data-role="collapsible" data-collapsed='true'>
	  <h3>Controls</h3>
	  <div class='controls-group'>
	    <a href="#" data-role="button" data-inline="true" rel="external"
	       onclick="runCommand('play'); return false;">Play</a>
	    <a href="#" data-role="button" data-inline="true" rel="external"
	       onclick="runCommand('pause'); return false;">Pause</a>
	    <a href="#" data-role="button" data-inline="true" rel="external"
	       onclick="runCommand('stop'); return false;">Stop</a>
	  </div>
	  <div class='controls-group'>
	    <a href="#" data-role="button" data-inline="true" rel="external"
	       onclick="runCommand('prev'); return false;">Prev</a>
	    <a href="#" data-role="button" data-inline="true" rel="external"
	       onclick="runCommand('next'); return false;">Next</a>
	  </div>
	  <div class='controls-group'>
	    <a href="#" data-role="button" data-inline="true" rel="external"
	       onclick="doSeek('-10'); return false;">&lt;&lt; 10s</a>
	    <a href="#" data-role="button" data-inline="true" rel="external"
	       onclick="doSeek('+10'); return false;">&gt;&gt; 10s</a>
	  </div>
	  <div class='controls-group'>
	    <a href="#" data-role="button" data-inline="true" rel="external"
	       onclick="doSeek('-60'); return false;">&lt;&lt; 1m</a>
	    <a href="#" data-role="button" data-inline="true" rel="external"
	       onclick="doSeek('+60'); return false;">&gt;&gt; 1m</a>
	  </div>
	</div> <!-- /controls -->
	<div id='options' data-role='collapsible' data-collapsed='true'>
	  <h3>Options</h3>
	  <fieldset data-role="controlgroup" data-type="horizontal">
	    <legend>Loop:</legend>
	    <input type='radio' name='loop-options' id='loop-options-none' value='none' checked='checked' />
	    <label for='loop-options-none'>None</label>
	    <input type='radio' name='loop-options' id='loop-options-one' value='one' />
	    <label for='loop-options-one'>One</label>
	    <input type='radio' name='loop-options' id='loop-options-all' value='all' />
	    <label for='loop-options-all'>All</label>
	  </fieldset>
	  <fieldset data-role="controlgroup">
	    <legend>Subtitles:</legend>
	    <input type='radio' name='subtitles' id='subtitles1' value='none' checked='checked' />
	    <label for='subtitles1'>None</label>
	    <input type='radio' name='subtitles' id='subtitles2' value='1' />
	    <label for='subtitles2'>English</label>
	    <input type='radio' name='subtitles' id='subtitles3' value='2' />
	    <label for='subtitles3'>Spanish</label>
	  </fieldset>
	  <fieldset data-role="controlgroup">
	    <legend>Misc:</legend>
	    <label><input type='checkbox' name='fullscreen' id='fullscreen' />
	      Full Screen</label>
	  </fieldset>
	</div><!-- /options -->
	<div id='dvd-menu' data-role='collapsible' data-collapsed='true'>
	  <h3>DVD Menu Controls</h3>
	  <table>
	    <tr>
	      <td></td>
	      <td><a href="#" data-role='button' data-inline='true'>Up</a></td>
	      <td></td>
	    </tr>
	    <tr>
	      <td><a href="#" data-role='button' data-inline='true'>Left</a></td>
	      <td><a href="#" data-role='button' data-inline='true'>Enter</a></td>
	      <td><a href="#" data-role='button' data-inline='true'>Right</a></td>
	    </tr>
	    <tr>
	      <td></td>
	      <td><a href="#" data-role='button' data-inline='true'>Down</a></td>
	      <td></td>
	    </tr>
	  </table>
	</div> <!-- /dvd-menu -->
	<div id='media-sel' data-role='collapsible' data-collapsed='true'>
	  <h3>Media</h3>
	  <a href="#file-sel" data-role="button" data-inline='true'>File</a>
	  <a href="#" data-role="button" data-inline='true'>Play DVD</a>
	</div><!-- /media-sel -->
      </div> <!-- /content -->
    </div> <!-- /page main -->
    <div data-role="page" id="file-sel">
      <div data-role="header">
	<h1>Select a File</h1>
      </div> <!-- file-sel header -->
      <div class='content' data-role="content">
	<label for="directory">Dir:</label>
	<input type='text' name='directory' id='directory' value='/home/corey/stuff/vids' />
	<label for="media-type">Media Type:</label>
	<select name='media-type' id='media-type'>
	  <option value="videos">Videos</option>
	  <option value="audio">Audio</option>
	</select>
	<div data-role='collapsible' data-collapsed='true'>
	  <h3>Files</h3>
	  <ul data-role="listview">
	    <li><a href="#main">File 1</a></li>
	    <li><a href="#main">File 2</a></li>
	    <li><a href="#main">File 3</a></li>
	    <li><a href="#main">File 4</a></li>
	  </ul>
	</div> <!-- /file list -->
      </div><!-- /content file-sel -->
    </div><!-- /page file-sel -->
  </body>
</html>
